h1{
    font-family: cursive;
    color:white;
    text-align: center;
    padding-top: 20px;
    border-radius: 7%;
    background-color: aqua;
    height: 100px;
    
   }
li{
    background-color
}

