
h1{
    text-align: center;
}
ul {
padding: 0;
display: block;
margin: 24px auto;
width: 320px;
color: white;
text-align: center;
}

li {
display: block;
height: 72px;
width: 320px;
background-color: #009688;
animation-name: animateIn;
animation-duration: 2350ms;
animation-delay: calc(var(--animation-order) * 100ms);
animation-fill-mode: both;
animation-timing-function: ease-in-out;
}

li + li {
margin-top: 16px;
}

@keyframes animateIn {
0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
}

100% {
    opacity: 1;
}
}