body {
  margin: 0 auto;
  font-family: cursive;
  box-sizing: border-box;
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/17/53/KxLzJS.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.header,
.footer {
  text-align: center;
  color: orange;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px;
}

.title {
  text-align: center;
  color: orange;
  background-color: black;
  padding: 10px 0px;
  text-shadow: 2px 2px #ff0000;
}

.books-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 15px;
  justify-content: space-between;
}

.list-item {
  margin: 10px;
  padding: 15px;
  max-width: calc(100% - 20px);
  opacity: 0.9;
  border-radius: 5px;
  background-color: #ccc;
  overflow: hidden;
}

.list-item:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.list-item h3 {
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px #ff0000;
}

.list-item p {
  padding-left: 30px;
  color: orange;
  text-shadow: 2px 2px #ff0000;
}
img {
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

@media (min-width: 470px) {
  .list-item {
    max-width: calc(50% - 50px);
  }
}

@media (min-width: 925px) {
  .list-item {
    max-width: calc(100% / 3 - 60px);
  }
}
