:root {
  --modal-duration: 1s; 
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgb(0 ,0,0,0.5);
}
.modal-content {
  background: #fff;
  text-align: center;
  margin:10% auto ;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: blueviolet;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}
.modal-content h1{
  margin-bottom: 1rem;
}
.modal-content p{
  font-size: 1.3rem;
  margin-top: 1rem;
}

@keyframes modalopen{
  from {
    opacity: 0;
  }
  to{
    opacity: 1; 
  }
}