body {
    background-color: #247ba0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: xx-large;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: #ff1654;
}
h3,h2 {
    color: #f3ffbd;
}
.input-number {
    border: none;
    background-color: #247ba0;
    border-bottom: 1px solid #f3ffbd;
    font-size: medium;
    outline-style: none;
}
::placeholder {
    color: #b2dbbf ;

}
#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 7rem;
}
