*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #1E666C;
  color: white;
}
h1{
  font-size: 3.5em;
  margin-bottom: 40px;
}
button{
  background-color: #1E666C;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
}
button :hover{
  transition: all 0.3s;
  opacity: 0.7;
  transform: scale(1.1);
}
#app {
  margin: 50px auto;
  width: 50%;
 text-align: center;
}
.timer{
  font-size: 25px;
  margin: 0 15px;
}
#showcase{
  width: 50%;
  margin: 12px auto;
  padding: 15px;
  border: 5px solid pink;
  border-radius: 30px;
}
p{
  font-size: 2em;
}
#spanM, #spanS{
  font-family: 'Orbitron', sans-serif;
}
#play{
  margin-right: 1px;
}
.fade{
  opacity: 0.5;
}
