body{
  background: rgb(255, 173, 21);
  color:rgb(255, 173, 21) ;
 
}
#container{
  max-width:70% ;
  height: 200px;
  background: white;
  margin: 200px auto;
  padding: 7%;
}
button{
  color: white;
  background: rgb(255, 173, 21);
  border: 0;
  padding: 10px;
  font-size: 16px;
}
#buttons{
  max-width: 100%;
display: flex;

}